# .gitignore

# Database files - MUST be ignored!
db.sqlite3
shared_data.json

# Python/Django environment files
*.pyc
__pycache__/
*.sqlite3-journal

# Environment variables
.env

# Media files (uploaded user content)
/media/