.btn-outline-light{
    background-color: white;
    color: black;
}
.btn-outline-light:hover{
    background-color: #FF8A9D;
    color: white;
}

/* การ์ดหลัก (Login/Sign Up box) */
.custom-card {
    background-color: #FFE6EA; 
    border-radius: 20px; 
    width: 400px;
    max-width: 90%;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-title {
    font-size: 2.5rem;
    color: #f06292;
    font-weight: bold;
}

/* --- Form Styles --- */
.form-label {
    color: black !important; 
    font-weight: bold !important;
    margin-bottom: 5px !important;
    display: block !important;
}
.form-control {
    border: 1px solid  #f06292;
    background-color: #F8C8DC;
    border-radius: 10px ;
    padding: 5px 20px ;
    width: 400px;
}

.form-control:focus {
    border-color:  #f06292 ;
    box-shadow: 0 0 0 0.25rem rgba(240, 98, 146, 0.25) ;
}

.btn-custom-pink {
    background-color: #f06292;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.2s ease;
}

.btn-custom-pink:hover {
    background-color: #FFB6C1;
    color: white;
}

.custom-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.custom-link:hover {
    color: #e83e8c;
    text-decoration: underline;
}
/*----Note---*/
.gap_down { /*เว้นไม่ให้ติดกันเกินไป*/
    gap: 7px;;
    display: grid
}
.head_information{ /*ไว้ไฮไลท์ หัวข้อให้เด่นๆ*/
    background-color: #FFB6C1;
    font-weight: bold;
    opacity: 0.9;
    padding-inline: 50px 5px;
    border-radius: 15px;
}
/* --- index ---*/
.index_box_main{
    display: grid;
    grid-template-columns: 25% 5% 70%;
}
.index_box_popular{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}
index_box_popular_in{
    display: grid;
    grid-template-columns: 10% 5% 85%;
}
.index_box_type{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 5px;
}
.index-outline-light{
    background-color: #FF8A9D;
    color: white;
}
.index-outline-light:hover{
    background-color: #FFB6C1;
    color: black;
}

.borrow-body{
    background-color: #efd0d0;
}
.borrow-container{
    margin-top: 60px;
}
.box-borrow{
    background-color: #fbf1f6;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,1);
}
.button-borrow{
    background: linear-gradient(90deg, #f2c6e1, #ebecd5);   
    color: #000804;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border-width: 5px;
    border-color: #80004f;
}
.button-borrow-cancel{
    background: linear-gradient(90deg, #c82b23, #c539a2);   
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border-width: 5px;
    border-color: #000000;

}
.request-borrow{
    background-color: #f5dde7;
    border: 2px solid #000000;
    border-width: 3px;
    padding: 15px;
}
