{% extends 'base.html' %} 
{% load crispy_forms_tags %} 

{% block title%}

  <title>ยืมของ</title>

{% endblock %}


{% block content %}
<body class="borrow-body">
    <div class="borrow-container row justify-content-center">
        <div class="col-md-6 box-borrow">
            <h1 class="mb-4 request-borrow">ส่งคำขอยืม: {{ item.name }}</h1>
            <p class="lead">โปรดระบุจำนวนและช่วงวันที่ต้องการยืม</p>
            
            <form method="POST">
                {% csrf_token %}
                
                {{ form|crispy }} 

                <button type="submit" class="btn btn-primary mt-3 button-borrow">ส่งคำขอ</button>
                <a href="{% url 'item_detail' item.id %}" class="btn btn-secondary mt-3 button-borrow-cancel">ยกเลิก</a>
            </form>
        </div>
    </div>
</body>
{% endblock %}